<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System - System Administration - Students</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h1>System Administration</h1>
    <nav>
        <a href="/registration/list">Manage Students</a> |
        <a href="/registration/new">Register</a> |
        <a href="/registration/edit/{studentId}">Edit profile</a> |
    </nav>
    <h2 style="background-color: aqua;">Students search result for '[[${searchString}]]'</h2>
    <section>
        <form action="/registration/search" method="get">
            <fieldset>
                <legend style="font-weight: bolder;">Search for Student(s)</legend>
                <label>
                    You may search by Student's Name or any part of the Address data.
                </label>
                <div>
                    <input type="search" name="searchString" id="searchString" style="width: 30%; height: 3em;"
                           value = name  placeholder="Enter some text to search for Publisher"
                           autofocus>
                    <button type="submit" style="height: 3em; width: 6em;">Search</button>
                </div>
            </fieldset>
        </form>
    </section>
    <section style="margin-top: 1em;">
        <table style="border:1px; padding:20px; gap:0">
            <thead>
            <tr>
                <th>#</th>
                <th>Student Number</th>
                <th>First Name </th>
                <th>Middle Name </th>
                <th>Last Name </th>
                <th>GPA </th>
                <th>Date of Enrollment </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, counter : ${students}">
                <th th:text="${counter.count}"></th>
                <td th:text="${student.studentNumber}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.middleName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.cgpa}"></td>
                <td th:text="${student.dateOfEnrollment}"></td>
            </tr>
            <tr th:if="${students.isEmpty()}">
                <td colspan="3" th:align="center">No Students found</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section style="margin-top: 1em;">
    </section>
</main>
<footer  th:replace="fragments/footer  ::footer"></footer>
</body>
</html>