<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fairfield Library - System Administration - Publishers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cerulean/bootstrap.min.css" integrity="sha512-1rXsIsq9uaj3bxRth2+Mw1slRDxuPzGlfJ8PaLmkO3/OtvCL7jVQrdxaC1VvCmCzKRMdKu0pmbCtqQz/3/xORA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div id="page-content">
        <header th:replace="~{fragments/header :: header}"></header>
        <main>
            <div class="page-header">
                <h2>List of our Publishers</h2>
                <div class="page-header-right">
                    <a class="btn btn-outline-primary btn-lg" href="/fairfieldlibrary/publisher/new">
                        <i class="fa-brands fa-product-hunt"></i> Add a New Publisher
                    </a>
                </div>
            </div>
            <hr>
            <div>
                <!-- table with publishers-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Publisher Name</th>
                        <th scope="col">Primary Address</th>
                        <th scope="col">Contact Information</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="publisher,iterStat : ${publishers}">
                        <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
                        <th scope="row" th:text="${iterStat.count}+${'.'}"></th>
                        <td th:text="${publisher.name}"></td>
                        <td th:if="${publisher.primaryAddress != null}">
                            <p>
                                <span th:text="${publisher.primaryAddress.houseNo}+${' '}+${publisher.primaryAddress.street}"></span><br>
                                <span th:text="${publisher.primaryAddress.city}+${', '}+${publisher.primaryAddress.state}+${' '}+${publisher.primaryAddress.zipCode}"></span>
                            </p>
                            <a th:href="@{'/fairfieldlibrary/publisher/primaryAddress/delete/{publisherId}'(publisherId=${publisher.publisherId})}">
                                <i class="fa-solid fa-delete-left"></i> Delete Address
                            </a>
                        </td>
                        <td th:if="${publisher.primaryAddress == null}" th:text="${''}"></td>
                        <td>
                            <p>
                                <span th:text="${'Phone No: '}+${publisher.contactPhoneNo}"></span><br>
                                <span th:text="${'Email: '}+${publisher.emailAddress}"></span>
                            </p>
                        </td>
                        <td>
                            <a th:href="@{'/fairfieldlibrary/publisher/edit/{publisherId}'(publisherId=${publisher.publisherId})}">
                                <i class="fa-regular fa-pen-to-square"></i> Edit Publisher
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/fairfieldlibrary/publisher/delete/{publisherId}'(publisherId=${publisher.publisherId})}">
                                <i class="fa-solid fa-delete-left"></i> Delete Publisher
                            </a>
                            <!--                        <a data-toggle="modal" data-target="#confirmDeleteBookModal" th:href="@{'/elibrary/book/delete/' + ${book.bookId}}">Delete</a>-->
                            <!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
                            <!--                            Launch demo modal-->
                            <!--                        </button>-->
                        </td>
                    </tr>
                    <tr th:if="${publishers.isEmpty()}">
                        <td colspan="6" th:align="center">No publishers found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>