<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fairfield Library - About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cerulean/bootstrap.min.css" integrity="sha512-1rXsIsq9uaj3bxRth2+Mw1slRDxuPzGlfJ8PaLmkO3/OtvCL7jVQrdxaC1VvCmCzKRMdKu0pmbCtqQz/3/xORA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="page-content">
        <header th:replace="~{fragments/header :: header}"></header>        <main>
            <h2>About the Library</h2>
            <hr>
            <section>
                <h3>Article 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quos expedita esse odio repellendus. Quos reprehenderit velit cum optio ut at odio possimus fuga aliquid libero voluptates, ex assumenda, ipsa sapiente voluptate doloribus esse rem corporis unde nesciunt, vel nemo similique? Corrupti quae neque autem ipsa quibusdam laboriosam repudiandae accusamus!</p>
            </section>
            <section>
                <h3>Article 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt suscipit ad repudiandae iste perferendis et, sequi eligendi temporibus assumenda quam amet doloribus! Nihil accusamus odit enim nemo odio ex magni ut velit sint minus nisi deserunt ea est officiis fugit eos quod, autem libero mollitia vel suscipit optio? Est recusandae labore odio voluptatibus dolores velit reprehenderit obcaecati nihil animi explicabo? Quo quam magnam officiis inventore, at et, ratione voluptates autem dicta aspernatur culpa. Error, tenetur?</p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, doloremque eaque. Labore pariatur molestias, fugit inventore dolorum dicta tempora, dolores facilis delectus eum fuga non cupiditate illum impedit voluptas explicabo facere doloribus nemo maxime quod, excepturi mollitia aperiam asperiores! Esse soluta vero debitis delectus quibusdam. Similique quaerat debitis minus possimus necessitatibus, nam nulla asperiores deserunt vitae illo nisi eaque, ratione consequuntur numquam consequatur aliquam omnis mollitia culpa, molestiae dolores exercitationem? Iure cumque nemo rerum facilis aperiam, officia deserunt in culpa assumenda architecto ea impedit vitae accusantium pariatur autem iusto dolorem dolore illum molestiae quidem eligendi quis. Repellendus odio nostrum aliquam!
                </p>
            </section>
            <section>
                <h3>Article 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt suscipit ad repudiandae iste perferendis et, sequi eligendi temporibus assumenda quam amet doloribus! Nihil accusamus odit enim nemo odio ex magni ut velit sint minus nisi deserunt ea est officiis fugit eos quod, autem libero mollitia vel suscipit optio? Est recusandae labore odio voluptatibus dolores velit reprehenderit obcaecati nihil animi explicabo? Quo quam magnam officiis inventore, at et, ratione voluptates autem dicta aspernatur culpa. Error, tenetur?</p>
            </section>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>